[submodule "test/framework"]
	path = test/framework
	url = https://github.com/mirco-paul/test
[submodule "DAG"]
	path = DAG
	url = https://github.com/mirco-paul/DAG
[submodule "tensor"]
	path = tensor
	url = git@github.com:davidgu0309/tensor.git
